Repository gabe565/ascii-movie: changes, and which pre-commit hooks are due for each by the changed paths.
All: usage-docs, vhs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-mod-tidy-repo
      - id: go-fmt-repo
        args: [-w]
      - id: go-vet-mod
      - id: golangci-lint-mod
        args: [--fix]

  - repo: local
    hooks:
      - id: usage-docs
        name: usage-docs
        entry: go run ./internal/cmd/docs
        language: system
        files: ^(cmd|internal/(cmd/docs|server/flags.go))
        pass_filenames: false
      - id: vhs-lint
        name: VHS Lint
        language: system
        entry: vhs validate assets/demo.tape
        files: .tape$
        pass_filenames: false

:recycle: (movie): Add `Movie` struct and move generated movie package into internal dir
  cmd/serve/cmd.go
  config/config.go
  generated_frames/stub.go
  internal/cmd/generate_frames/all.go.tmpl
  internal/cmd/generate_frames/frame.go.tmpl
  internal/cmd/generate_frames/write.go
  internal/cmd/generate_movie/main.go
  internal/cmd/generate_movie/movie.go.tmpl
  internal/cmd/generate_movie/progress.go
  internal/cmd/generate_movie/write.go
  internal/generated_movie/.gitignore
  internal/generated_movie/stub.go
  internal/movie/frame.go
  internal/movie/movie.go
  internal/server/ascii_handler.go
  main.go
Due: usage-docs

:bug: (dockerfile): Fix debug image
  Dockerfile
Due: none

:wastebasket: (flags): Add deprecation warning for `--address` flag
  internal/server/ascii_handler.go
  internal/server/flags.go
Due: usage-docs

:speech_balloon: (cmd): Update command descriptions
  cmd/cmd.go
  cmd/play/cmd.go
  cmd/serve/cmd.go
  docs/ascii-movie.md
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
Due: usage-docs

:sparkles: (cmd): Add `--file` flag which can play a movie other than the one compiled into the binary
  cmd/play/cmd.go
  cmd/serve/cmd.go
  config/config.go
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/cmd/generate_movie/main.go
  internal/cmd/generate_movie/movie.go.tmpl
  internal/cmd/generate_movie/progress.go
  internal/cmd/generate_movie/write.go
  internal/generated_movie/.gitignore
  internal/generated_movie/stub.go
  internal/movie/.gitignore
  internal/movie/file.go
  internal/movie/flags.go
  internal/movie/movie.go
  internal/movie/stub.go
  internal/progressbar/progressbar.go
  internal/server/ascii_handler.go
  internal/server/flags.go
  internal/server/ssh.go
  internal/server/telnet.go
  main.go
Due: usage-docs

:bulb: (generator): Update generated comment
  internal/cmd/generate_movie/movie.go.tmpl
Due: none

:whale: (dockerfile): Use binary as `ENTRYPOINT` and subcommand as `CMD`
  Dockerfile
Due: none

:memo: (readme): Update usage docs
  README.md
Due: none

:wrench: (ci): Update actions/setup-go cache due to default value change
  .github/workflows/build.yml
Due: none

:fire: (movie): Remove generation workflow
  .github/workflows/build.yml
  Dockerfile
  README.md
  cmd/play/cmd.go
  cmd/serve/cmd.go
  config/config.go
  internal/cmd/generate_movie/main.go
  internal/cmd/generate_movie/movie.go.tmpl
  internal/cmd/generate_movie/write.go
  internal/movie/file.go
  internal/movie/flags.go
  internal/movie/stub.go
Due: usage-docs

:sparkles: (ssh): Add host key support
  docs/ascii-movie_serve.md
  internal/server/flags.go
  internal/server/ssh.go
Due: usage-docs

:sparkles: (config): Add env support
  cmd/cmd.go
Due: usage-docs

:art: (flags): Clean up server flag checks
  cmd/serve/cmd.go
  internal/server/ssh.go
  internal/server/telnet.go
Due: usage-docs

:sparkles: (flags): Add `-f` shorthand to `--file` flag
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/movie/flags.go
Due: none

:art: (telnet): Compute remote IP before building log entry
  internal/server/ssh.go
  internal/server/telnet.go
Due: none

:zap: (movie): Slightly improve frame timing
  internal/movie/movie.go
Due: none

:art: (server): Clean up disconnect checks
  cmd/play/cmd.go
  internal/movie/movie.go
  internal/server/ssh.go
  internal/server/telnet.go
Due: usage-docs

:sparkles: (flags): Add padding flags
  config/config.go
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/movie/file.go
  internal/movie/flags.go
  internal/movie/padding.go
Due: none

:wrench: (pre-commit): Make usage docs run on any Go file modification
  .pre-commit-config.yaml
Due: none

:sparkles: (flags): Add `--frame-height` flag and remove leftover configs
  config/config.go
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/movie/file.go
  internal/movie/flags.go
  movies/default.go
  movies/rick_roll.txt
  movies/short_intro.txt
  movies/sw1.txt
Due: none

:fire: (movie): Remove unnecessary padding
  internal/movie/file.go
Due: none

:wrench: (movie): Clean up padding logic
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/movie/file.go
  internal/movie/flags.go
Due: none

:fire: (movie): Remove frame num field
  internal/movie/file.go
  internal/movie/frame.go
Due: none

:recycle: (flags): Change movie file from flag to arg
  cmd/play/cmd.go
  cmd/serve/cmd.go
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/movie/flags.go
  movies/default.go
  movies/movies.go
Due: usage-docs

:sparkles: (movies): Embed Rick Roll movie
  movies/movies.go
Due: none

:hammer: (vhs): Tweak VHS script typing speed, change output filename
  assets/demo.tape
Due: vhs-lint

:hammer: (vhs): Shrink window height
  assets/demo.tape
Due: vhs-lint

:memo: (readme): Update demo video
  README.md
Due: none

:sparkles: (flags): Add `--log-level` and `--log-format` flags
  cmd/cmd.go
  cmd/play/cmd.go
  docs/ascii-movie.md
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/config/flag_log.go
Due: usage-docs

:fire: (movie): Remove leftover .gitignore file
  internal/movie/.gitignore
Due: none

:loud_sound: (movie): Add some debug/trace logs during movie load
  internal/movie/flags.go
Due: none

:memo: (readme): Update Artifact Hub links
  README.md
Due: none

:memo: (readme): Fix local build usage steps
  README.md
Due: none

:sparkles: (ssh): Only exit if Ctrl+C or Ctrl+D are pressed
  internal/server/ssh.go
  internal/server/util.go
Due: none

:sparkles: (telnet): Exit if Ctrl+C or Ctrl+D are pressed
  internal/server/telnet.go
  internal/server/util.go
Due: none

:sparkles: (play): Exit on Ctrl+D
  cmd/play/cmd.go
Due: usage-docs

:speech_balloon: (rick-roll): Fix typos
  movies/rick_roll.txt
Due: none

:sparkles: (ls-embedded): Add subcommand to list embedded movies
  cmd/cmd.go
  cmd/ls_embedded/cmd.go
  docs/ascii-movie.md
  docs/ascii-movie_ls-embedded.md
Due: usage-docs

:fire: (flags): Remove `--frame-height` flag and find frame head with regex
  cmd/ls_embedded/cmd.go
  docs/ascii-movie_play.md
  docs/ascii-movie_serve.md
  internal/movie/file.go
  internal/movie/flags.go
Due: usage-docs

:speech_balloon: (movie): Match progress bar width to content width
  internal/movie/file.go
  internal/progressbar/progressbar.go
Due: none
